.edit-profile__form {
    label {
        color: rgba(255, 255, 255, 0.8);
        font-size: 17px;
        font-weight: 500;
        margin: 7px;
        display: block;
        font-weight: bold;
        font-style: italic;
    }
}

.edit-profile__password {
    margin-top: 20px;

    a {
        font-size: 19px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.9);
    }

}