html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
        title #{pageTitle} | Metube
    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home 
                    li
                        a(href="/videos/upload") Upload Video
                    li
                        a(href="/videos/search") Search Video
                    li
                        a(href="/users/join") Join
                    li
                        a(href="/users/login") Login
        main
            block content
    include partials/footer
