header
    a(href="/").header__logo Metube 
        i.fab.fa-youtube   
    nav 
        ul 
            li 
                li
                    a(href="/search")
                        i.fas.fa-search
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/edit") Edit Profile 
                li 
                    a(href=`/${profile._id}`) 
                        if !profile.avatarUrl
                            img.header__avatar(src='/uploads/user.png')
                        else
                            img.header__avatar(src="/" + profile.avatarUrl, alt="")
                li
                    a(href="/users/logout").header__btn Logout
            else
                li
                    a(href="/users/join") Join
                li
                    a(href="/users/login").header__btn Login
            
