extends ../base

block content
    if errorMessage 
        h2=errorMessage
    div.title Edit Password
    form(action="", method="post") 
        input(type="password", name="oldPassword" placeholder="Old Password")
        input(type="password" name="newPassword" placeholder="New Password")
        input(type="password" name="newPassword2" placeholder="Confirm Password")
        input(type="submit" value="Update Password")