extends ../base.pug

block content 
    if errorMessage 
    h2=errorMessage
    form(action="", method="post") 
        input(placeholder="Username" name="username", type="text", required)
        input(placeholder="Passw ord" name="password", type="password", required)
        input(type="submit", value="Login")